@if (state() === 'loading' && !isPhoneView()) {
  <div class="flex flex-col gap-5">
    <div class="flex items-center justify-between">
      <div>
        <h1 class="text-neutral-900 text-[26px] font-semibold">Projects</h1>
        <p class="text-description text-[16px] font-normal">Manage and curate your projects</p>
      </div>

      <div class="hidden md:block skeleton h-[40px] w-[210px]"></div>
    </div>

    <!-- Project List Loading -->
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 gap-y-4">
      @for (item of [1, 2, 3, 4, 5, 6]; track $index) {
        <div class="min-h-[245px] bg-white p-6 flex flex-col justify-between rounded-[8px]">
          <!-- Project Content -->
          <div class="flex flex-col gap-4">
            <div class="skeleton h-[128px]"></div>
            <div class="skeleton h-[24px] w-[75%]"></div>
            <div class="skeleton h-[24px] w-[40%]"></div>
          </div>
        </div>
      }
    </div>
  </div>
} @else if (state() === 'error') {
  <app-error-state [takeAction]="loadProjects"></app-error-state>
} @else if (state() === 'empty') {
  <div class="flex-center flex-col gap-11 mt-4">
    <img src="/images/empty.svg" alt="" />
    <div class="text-center">
      <h1 class="font-semibold text-[36px] tracking-[-0.9px] text-neutral-900">No Projects</h1>
      <p class="text-description text-[18px] leading-[30px] mt-4">
        You don’t have any projects yet. Start by defining
        <br />
        your first architectural workspace to begin tracking
        <br />
        tasks and epics.
      </p>
    </div>
    <button class="btn btn-primary" routerLink="add">
      <div>
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 15H11V11H15V9H11V5H9V9H5V11H9V15ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20ZM10 18C12.2333 18 14.125 17.225 15.675 15.675C17.225 14.125 18 12.2333 18 10C18 7.76667 17.225 5.875 15.675 4.325C14.125 2.775 12.2333 2 10 2C7.76667 2 5.875 2.775 4.325 4.325C2.775 5.875 2 7.76667 2 10C2 12.2333 2.775 14.125 4.325 15.675C5.875 17.225 7.76667 18 10 18Z"
            fill="white"
          />
        </svg>
      </div>
      Create New Project
    </button>
  </div>
} @else {
  <div class="flex flex-col gap-5">
    <!-- Page Header -->
    <div class="flex items-center justify-between">
      <div>
        <h1 class="text-neutral-900 text-[25px] font-semibold">Projects</h1>
        <p class="text-description text-[16px] font-normal">Manage and curate your projects</p>
      </div>

      <button
        class="fixed bottom-[80px] right-[20px] z-10 md:top-0 md:right-0 md:relative btn btn-primary"
        routerLink="add"
      >
        <div>
          <svg
            width="11"
            height="11"
            viewBox="0 0 11 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M4.5 6H0V4.5H4.5V0H6V4.5H10.5V6H6V10.5H4.5V6Z" fill="white" />
          </svg>
        </div>
        <span class="hidden md:block">Create New Project</span>
      </button>
    </div>

    <!-- Projects Cards Container -->
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 gap-y-4">
      <!-- Project Card -->
      @for (projectItem of projects; track $index) {
        <div
          class="h-[245px] shadow-main bg-white p-6 flex flex-col justify-between rounded-[8px] cursor-pointer hover:translate-y-[-5px] hover:shadow-md duration-200"
        >
          <!-- Project Content -->
          <div>
            <div class="flex items-start justify-between">
              <h1 class="text-neutral-900 text-[18px] font-medium">{{ projectItem.name }}</h1>
              <!-- Edit Icon -->
              <div (click)="editProject(projectItem)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="size-5 cursor-pointer text-neutral-400 hover:text-primary duration-200"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                  />
                </svg>
              </div>
            </div>
            <p class="text-description text-[14px] leading-[22.75px] font-normal mt-3 line-clamp-5">
              {{ projectItem.description }}
            </p>
          </div>

          <!-- Project Date -->
          <div class="flex items-center justify-between pt-4 border-t-1 border-border-color">
            <p class="color-placeholder-normal text-[11px] font-bold uppercase tracking-[-.5px]">
              Created at
            </p>

            <p class="font-medium text-[14px] text-description">
              {{ projectItem.created_at | date: 'dd MMM yyyy' }}
            </p>
          </div>
        </div>
      }

      @if (state() === 'loading' && isPhoneView() && projects?.length === 0) {
        @for (item of [1, 2]; track $index) {
          <div class="min-h-[245px] bg-white p-6 flex flex-col justify-between rounded-[8px]">
            <!-- Project Content -->
            <div class="flex flex-col gap-4">
              <div class="skeleton h-[128px]"></div>
              <div class="skeleton h-[24px] w-[75%]"></div>
              <div class="skeleton h-[24px] w-[40%]"></div>
            </div>
          </div>
        }
      }

      @if (state() === 'loading' && isPhoneView() && projects?.length !== 0) {
        <div class="py-10 scale-[1.5] w-fit m-auto">
          <app-btn-loading loadingColor="primary" />
        </div>
      }

      <!-- Add Project Card -->
      <div class="hidden md:block">
        <div
          routerLink="add"
          class="h-[245px] bg-white p-6 flex-center flex-col gap-4 rounded-[8px] border-dashed border-2 border-gray-300 duration-200 cursor-pointer hover:border-primary"
        >
          <div>
            <svg
              width="48"
              height="48"
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="48" height="48" rx="12" fill="#F1F3FF" />
              <path
                d="M23 29H25V25H29V23H25V19H23V23H19V25H23V29ZM24 34C22.6167 34 21.3167 33.7375 20.1 33.2125C18.8833 32.6875 17.825 31.975 16.925 31.075C16.025 30.175 15.3125 29.1167 14.7875 27.9C14.2625 26.6833 14 25.3833 14 24C14 22.6167 14.2625 21.3167 14.7875 20.1C15.3125 18.8833 16.025 17.825 16.925 16.925C17.825 16.025 18.8833 15.3125 20.1 14.7875C21.3167 14.2625 22.6167 14 24 14C25.3833 14 26.6833 14.2625 27.9 14.7875C29.1167 15.3125 30.175 16.025 31.075 16.925C31.975 17.825 32.6875 18.8833 33.2125 20.1C33.7375 21.3167 34 22.6167 34 24C34 25.3833 33.7375 26.6833 33.2125 27.9C32.6875 29.1167 31.975 30.175 31.075 31.075C30.175 31.975 29.1167 32.6875 27.9 33.2125C26.6833 33.7375 25.3833 34 24 34ZM24 32C26.2333 32 28.125 31.225 29.675 29.675C31.225 28.125 32 26.2333 32 24C32 21.7667 31.225 19.875 29.675 18.325C28.125 16.775 26.2333 16 24 16C21.7667 16 19.875 16.775 18.325 18.325C16.775 19.875 16 21.7667 16 24C16 26.2333 16.775 28.125 18.325 29.675C19.875 31.225 21.7667 32 24 32Z"
                fill="#041B3C"
              />
            </svg>
          </div>

          <h3 class="uppercase text-description text-[14px] tracking-[1.4px] font-bold">
            add project
          </h3>
        </div>
      </div>
    </div>

    <!-- Project Pagination -->

    <app-pagination
      [currentPage]="currentPage"
      [totalProjectsCount]="totalProjectsCount"
      [limit]="limit"
    ></app-pagination>
  </div>
}
