@import 'tailwindcss';

@theme {
  /* ---- COLORS ---- */

  --color-primary: #003d9b;
  --color-primary-container: #0052cc;
  --color-surface-highest: #d7e2ff;
  --color-background: #f9f9ff;

  --color-neutral-900: #041b3c;
  --color-neutral-600: #4f5f7b;
  --color-neutral-300: #c3c6d6;

  --color-success: #82f9be;
  --color-error: #ba1a1a;
  --color-warning: #ffb300;
  --color-placeholder-error: #93000a;
  --color-placeholder-normal: #737685;
  --color-border-color: #f1f3ff;
  --color-btn: #0148b5;

  /* ---- FONTS ---- */
  --text-display-lg: 56px;
  --text-headline-lg: 40px;
  --text-title-md: 30px;
  --text-body-md: 14px;
  --text-label-sm: 11px;

  --shadow-main: 0px 24px 48px -12px #041b3c0f;

  --animate-fadeIn: fadeIn 0.3s ease-in-out;
  --animate-fadeOut: fadeOut 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@layer {
  .display-lg {
    @apply font-bold text-display-lg;
  }
  .display-lg,
  .text-headline-lg,
  .text-title-md {
    @apply font-semibold text-neutral-900;
  }
  .body-md {
    @apply text-body-md text-[#434654];
  }

  .btn-primary {
    @apply rounded-[4px] h-[48px] px-5 flex items-center justify-center gap-3 text-white cursor-pointer transition-all duration-200;
    background: linear-gradient(135deg, #003d9b 0%, #0052cc 100%);
  }

  .skeleton {
    @apply animate-pulse rounded-[4px] bg-[#cfd4e6];
  }

  .btn-secondary {
    @apply text-btn;
  }

  .label-sm {
    @apply uppercase font-bold text-label-sm text-neutral-600;
  }

  .btn-disabled {
    @apply text-neutral-600;
  }

  .inp-normal {
    @apply w-full placeholder:text-placeholder-normal bg-surface-highest placeholder:text-[16px] px-4 py-3.5 focus-within:outline-2 focus-within:!outline-primary;
  }

  .inp-error {
    @apply w-full placeholder:text-placeholder-error bg-[#ffdad6]  placeholder:text-[16px] px-4 py-3.5 focus-within:outline-2 focus-within:!outline-error;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .show {
    @apply top-4 opacity-100;
  }

  .hide {
    @apply top-[-50px] opacity-0;
  }

  .err-message {
    @apply text-error text-[14px] mx-1;
  }
}

body {
  @apply bg-background;
  font-family: 'Inter', sans-serif;
  min-height: 100dvh;
  position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #0f172a; /* text color */
  -webkit-box-shadow: 0 0 0px 1000px #b7caff inset;
  box-shadow: 0 0 0px 1000px #b7caff inset;
  transition: background-color 9999s ease-in-out 0s;
}

.hide-lnk-txt {
  opacity: 0 !important;
  cursor: pointer !important;
  pointer-events: none !important;
}

.hide-element {
  opacity: 0 !important;
  cursor: pointer !important;
  pointer-events: none !important;
}

@media (width < 640px) {
  .hide-lnk-txt {
    opacity: 1 !important;
    cursor: pointer;
    pointer-events: auto;
  }
}

.show {
  opacity: 1;
}
